.header__wrapper {
  max-width: 1444px;
  max-height: 670px;
  margin: 0 auto;
  background-image: url(../img/img-1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  align-items: center;
}

.nav {
  &__item {
    display: inline-block;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.875; 
    margin-left: 40px;
    transition: transform 0.5s ease 0.1s;

    &:hover {
      transform: scale(1.1);
    }

    &:last-child {
      margin-right: 0;
    }
  } 
}

.logo {
  width: 24px;
  height: 52px;

  img {
    display: block;
    width: 100%;
  };
}

.header__main {
  padding-top: 117px;
  padding-bottom: 172px;

  .header_owner-card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 218px;
    height: 285px;
  }

  .name {
    font-family: "Aller Display", sans-serif;
    font-weight: 600;
    font-size: 34px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;     
    line-height: 1;
    margin-bottom: 5px;
    letter-spacing: 2px;  
  }

  .profession {
    margin-bottom: 30px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.875;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .header_top {
    .nav_item {
      font-size: 13px;
      margin-left: 15px;
    }
  }
}

@media (max-width: 424px) {
  .header_top {
      display: none; 
  }

  .header_main {
    padding-bottom: 117px;
  }
}