.about-me {
  // clip-path: polygon(0 0, 100% 0%, 100% 93.5%, 0% 100%);
    
  .container {
    background-color: #F5F5F5;
    margin-top: -65px;
    padding-top: 65px;

    .section{
      &-title {
        margin-bottom: 80px;
      }

      &-content {
        display: flex;
        align-items: center;
        padding-bottom: 110px;
      }
    }
    
    .owner {
      &_photo {
        width: 420px;

        img {
          width: 100%
        }
      }
    
      &_description {
        text-align: justify;
        font-size: 22px;
        max-width: 800px;
        margin-left: 130px;

        .main-sense {
          text-align: center;
          margin: 35px auto;
          display: block;
          max-width: 540px;
          font-size: 25px;
          border: 4px solid #FDC426;
          padding: 5px;
        }

        .education {
          margin-top: 60px;
          text-align: center;

          &__title {
            display: inline-block;
            font-weight: 700;
            font-size: 25px;
            text-align: center;
            position: relative;
            letter-spacing: 2px;

            &:after {
              content: ' ';
              margin-left: 5%;
              left: 0;
              position: absolute;
              bottom: 0;
              width: 90%;
              height: 5px;
              border-bottom: 2px solid #FDC426;
            }
          }
          
          &__content {
            margin: 0 auto;
            text-align: left;

            .name:before{
              content: "Вуз: ";
              color: rgba(#716E5B, .6);
              font-weight: 500;
            }

            .facult:before{
              content: "Факультет: ";
              color: rgba(#716E5B, .6);
              font-weight: 500;
            }

            .speciality:before{
              content: "Специальность: ";
              color: rgba(#716E5B, .6);
              font-weight: 500;
            }

            .date:before{
              content: "Период: ";
              color: rgba(#716E5B, .6);
              font-weight: 500;
            }
          }

          .content__item {
            display: block;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .about-me {
    .container {
      padding-left: 40px;
      padding-right: 40px;

      .section-content {
        align-items: flex-start;
      }
      .owner_description {
        margin-left: 50px;
      }

      .owner_photo {
        margin-top: 100px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .about-me {
    .container {
      .owner_description {
        margin-left: 0;
      }

      .owner_photo {
        display: none;
      }
    }
  }
}