.about-me {
  clip-path: polygon(0 0, 100% 0%, 100% 93.5%, 0% 100%);
    
  .container {
    background-color: #EFEFEF;
    height: 980px;
    margin-top: -65px;
    padding-top: 184px;
    display: flex;
    
    .owner {
      &_photo {
        width: 350px;
        height: 600px;
        border: 1px solid black;
        text-align: center;
      }
    
    &_description {
      text-align: center;
      font-size: 30px;
      max-width: 500px;
      margin-left: 200px;
    }
  }
  }
}