.contact-me {
  .container {
    padding-bottom: 30px;
    background-image: url(../img/img-6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -60px;
    display: flex;
    padding-top: 120px;
    justify-content: space-between;

  }

  .footer_owner-card {
    min-width: 330px;
    margin-top: 50px;
    margin-right: 50px;

    .owner_logo {
      display: flex;
      align-items: center;
      margin-bottom: 60px;

      .img {
        width: 110px;
        height: 95px;
        margin-right: 15px;

        img {
          max-width: 100%;
        }
      }

      .name {
        font-family: "Aller Display", sans-serif;
        font-size: 28px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        margin-bottom: 15px;
        letter-spacing: 2px;  
      }
  
      .profession {
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        color: rgb(255, 255, 255);
        line-height: 1;
        text-align: left;        
      }
    }

    .location {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      color: rgb(255, 255, 255);
      line-height: 1;
      margin-bottom: 35px;
      &:hover {
        transform: scale(1.1);
      }
      

      &:before {
        font-family: "FontAwesome";
        color: white;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-size: 20px;
        content: "\f3c5";
        margin-right: 31px;
        vertical-align: middle;
      }
    }

    .phone {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      line-height: 1;
      margin-bottom: 35px;
      &:hover {
        transform: scale(1.1);
      }

      a {
        color: rgb(255, 255, 255);
      }
    

      &:before {
        font-family: "FontAwesome";
        color: white;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-size: 20px;
        content: "\f095";
        margin-right: 25px;
        vertical-align: middle;
      }
    }

    .mail {
      margin-bottom: 60px;
      height: 20px;

      &:hover {
        transform: scale(1.1);
      }

      a {
        line-height: 20px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: rgb(255, 255, 255);
        vertical-align: top;
      }

      &:before {
        font-family: "FontAwesome";
        color: white;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-size: 20px;
        content: "\f0e0";
        margin-right: 25px;
      }
    }

    .social {
      display: flex;
      justify-content: space-between;
      max-width: 250px;

      &-item {
        border: 1px solid rgba(223, 223, 223, 0.3);
        border-radius: 50%;
      }

      .icon {
        font-family: "FontAwesome";
        color: white;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }

        &_vk:before {
          content: "\f189";
          font-size: 15px;
          padding: 15px;
          line-height: 45px;
        }

        &_twitter {
          background-color: #FDC426;
        }

        &_twitter:before {
          content: "\f099";
          font-size: 15px;
          padding: 15px;
          line-height: 45px;
        }

        &_mail:before {
          content: "\f0d5";
          font-size: 15px;
          padding: 15px;
          line-height: 45px;
        }
      }
    }
  }

  .feedback {
    max-width: 775px;
    min-width: 400px;
    width: 100%;

    &-form {
      display: flex;
      flex-direction: column;
      font-family: sans-serif;

      &_item {
        color: #fff;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        height: 55px;
        margin-bottom: 20px;
        background-color: rgba(255,255,255,0.0);
        border: 1px solid rgb(230, 230, 230);

        &:focus {
          border-color: #FDC426;
        outline: none;
        }

        &:focus::-webkit-input-placeholder {
          opacity: 0;
        }
      }

      .input-comment {
        text-align: left;
        padding-top: 20px;
        padding-left: 20px;
        height: 200px;
      }

      .input-submit {
        background-color: #FDC426;
        font-size: 20px;
        font-family: "Raleway", sans-serif;
        color: #000;
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1050px) {
  .contact-me {
  
    .footer_owner-card {
      min-width: 200px;
      margin-top: 0;

     .owner_logo {
       flex-direction: column;
       margin-right: 0;
       align-items: flex-start;
       margin-bottom: 50px;

       .logo-owner_footer {
        margin-bottom: 30px;
       }
     }

     .social {
       max-width: 200px;
     }

     .location {
       margin-bottom: 25px;
       &:before {
         margin-right: 15px;
       }
     }

      .phone {
        margin-bottom: 25px;
        &:before {
          margin-right: 10px;      
        }
      }

     .mail {
       margin-bottom: 50px;
       &:before {
        margin-right: 10px;
        }
      }
    }
  } 
}

@media (max-width: 767px) {
  .contact-me {
    .container {
      flex-wrap: wrap;
      justify-content: center;
    }

    .footer_owner-card {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 50px;

      .owner-contacts {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
      }

      .owner_logo {
        margin-bottom: 50px;
        justify-content: center;

        .logo-owner_footer {
          margin-right: 40px;
        }
      }

      .mail {
        margin-bottom: 30px;
        &:before {
          margin-right: 10px;
        }
      }

      .social {
        margin: 0 auto;
        width: 60%;
        justify-content: space-between;      
      }

      .location {
        &:before {
          margin-right: 15px;
        }
      }
 
      .phone {
        &:before {
          margin-right: 10px;      
        }
      }
    }
  } 
}


@media (max-width: 551px) {
  .contact-me {
   

    .footer_owner-card {
      min-width: 250px;

      .owner_logo {
        justify-content: flex-start;

        .logo-owner_footer {
          margin-right: 25px;
        }
      }

      .owner-contacts {
        flex-direction: column;
        align-items: flex-start;
      }

      .social {
        margin: 0;
      }
      

      .mail {
        
      }

      .location {
        
      }
 
      .phone {
        
      }
    }

    .feedback {
      min-width: 250px;
    }
  } 
}






