.my-education {
  .container {
    background-color: #EFEFEF;
    height: 560px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
     padding-top: 100px;
    border: 1px solid black;

    .education_card {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 50px;
      margin-right: 50px;
      
      .img {
        display: block;
        margin: 0 auto;
        margin-bottom: 55px;
      }

      .education_degree {
        text-align: center;
        font-size: 30px;
        color: rgb(0, 0, 0);
        line-height: 1;
        margin-bottom: 30px;
      }

      .university_name {
        font-size: 18px;
        color: rgb(0, 0, 0);
        line-height: 1;
        text-align: center;
        margin-bottom: 35px;
      }

      .status {
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        color: #FDC426;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        max-width: 550px;
        position: absolute;
        top: 75px;
        transform: rotate(-30deg);
        left: 170px;
        line-height: 1.3;

        span {
          display: block;
        }
      }
    }

    .education_description {
      .description {
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        color: rgb(0, 0, 0);
        line-height: 1.5;
        text-align: center;
        max-width: 550px;

        span {
          margin-top: 20px;
          display: block;
        }

      }
    }

    .frame {
      position:relative;
    }
    .frame:before {
        height:75px;
        position:absolute;
        top:0px;
        left:0px;
        right:0px;
        border-right:2px solid #FDC426;
        content: " ";
    }
    .frame:after {
        height:75px;
        position:absolute;
        bottom:0px;
        left:0px;
        right:0px;
        border-left:2px solid #FDC426;;
        content: " ";
    }
    
    .frame :first-child:before {
        position:absolute;
        top:0px;
        bottom:0px;
        left:0px;
        width:40px;
        border-bottom:2px solid #FDC426;;
        content: " ";
    }
    
    .frame :first-child:after {
        position:absolute;
        top:0px;
        bottom:0px;
        right:0px;
        width:40px;
        border-top:2px solid #FDC426;;
        content: " ";
    }
  }
}
