.my-education {
  .container {
    height: 560px;
    display: flex;
    justify-content: space-between;

    .education_card {
      display: flex;
      flex-direction: column;
      margin-top: 140px;
      position: relative;
      
      .img {
        display: block;
        margin: 0 auto;
        margin-bottom: 55px;
      }

      .education_degree {
        text-align: center;
        font-size: 30px;
        color: rgb(0, 0, 0);
        line-height: 1;
        margin-bottom: 30px;
      }

      .university_name {
        font-size: 18px;
        color: rgb(0, 0, 0);
        line-height: 1;
        text-align: center;
        margin-bottom: 35px;
      }

      .status {
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        color: #FDC426;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        max-width: 550px;
        position: absolute;
        top: 75px;
        transform: rotate(-30deg);
        left: 170px;
        line-height: 1.3;

        span {
          display: block;
        }
      }
    }

    .education_description {
      width: 400px;
      height: 500px;
      border: 1px solid black;

      .description {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: rgb(0, 0, 0);
        line-height: 1;
        text-align: center;
        max-width: 550px;
      }
    }
  }
}
