.my-portfolio {
  // clip-path: polygon(0% 6.2%, 100% 0%, 100% 93.5%, 0% 100%);
  
  .container {
    background-color: #F5F5F5;
    // margin-top: -60px;
  }

  .title {
    text-align: center;
    font-size: 26px;
    padding-top: 60px;
    margin-bottom: 100px;
  }

  .my-works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
                        
    &_item {
      position: relative;
      margin-bottom: 70px;
      margin-right: 20px;
      max-width: 320px;
      box-shadow: 0 5px 5px rgba(0,0,0,.15);
      &:hover {
        // transform: scale(1.1);

        .description {
          display: flex;
          bottom: -111%;
          z-index: 99;
          opacity: 1;
        }
      }

      .img {
        width: 320px;
        height: 180px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .description {
        color: #000;
        display: none;
        z-index: -1;
        opacity: 0;
        position: absolute;
        left: 0;
        bottom: 47%;
        transition: bottom, opacity 0.5s;
        display: flex;
        flex-direction: column;
        width: 320px;
        background-color: #c1c1c1;
        font-size: 20px;
        font-weight: 500;

        &:hover {
          transform: translateY(0);
        }

        &__item {
          padding-left: 5px;
          margin-bottom: 5px;
          font-weight: 500;
          font-size: 20px;
        }

        .name {
          text-align: center;
          font-weight: 700;
          text-transform: uppercase;
          padding-top: 12px;
          padding-bottom: 5px;
          font-size: 22px;
          border-bottom: 1px solid black;
          letter-spacing: 1.5px;
        }

        .type {
          margin-top: 5px;

          &:before {
            content: "type: ";
            font-size: 16px;
            color:rgb(91, 89, 77);
            letter-spacing: 1.2px;
          }
        }

        .stack {
          &:before {
            content: "stack: ";
            font-size: 16px;
            color: rgba(#716E5B);
            letter-spacing: 1.2px;
          }
        }

        .link {
          &_site {
            color: #000;
            &:hover {
              transform: scale(1.025);
              font-weight: 700;
            }
            &:before {
              content: "link: ";
              font-size: 16px;
              color: rgba(#716E5B);
              letter-spacing: 1.2px;
            }
          }
          
          &_github {
            color: #000;
            &:hover {
              transform: scale(1.05);
              font-weight: 700;
            }
            &:before {
              content: "github: ";
              font-size: 16px;
              color: rgba(#716E5B);
              letter-spacing: 1.2px;
            }
          }
          
        }
      }
    }

    .tetris {
      display: none;
    }

    .freeREU {
      .description {
        bottom: -91%;
        
        .name {
          text-transform: none;
        }
      }
    }
    .pepelatzh {
      .description {
        bottom: -91%;
      }
    }
  }
}