.my-skills {
  .container {
    height: 450px;
    //background-image: url(../../../img/img-4.png);
   background-color: #FFF;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 30px;

    .title {
      text-align: center;
      font-size: 30px;
      margin-bottom: 50px;
      letter-spacing: 1.5px;
      font-weight: 700;
      color: black;
    }

    .canvas-elements {
      display: flex;
      justify-content: space-around;
      font-family: 'Open Sans', sans-serif;

      .canvas-element {
        text-align: center;
        &:hover {
          transform: scale(1.1);
        }

        .description {
          font-size: 17px;
          margin-top: 15px;
          text-transform: uppercase;

          span {
            display: block;
            color: #939295;
            font-size: 12px;
            text-transform: lowercase;
          }
        }
      }
    }
  }
}

